<!-- views/checkout.hbs -->
<!-- Checkout page -->

{{#each renderCss}}
<link rel="stylesheet" href="{{this}}">
{{/each}}

<section id="checkout">

    <div class="page-title">
        <h1>{{storeName}} Checkout</h1>
    </div>

    <div class="checkout-container">

        <!-- Order details -->
        <div class="order-details">
            <h2>Order</h2>
            <div class="details">
                <p>Delivery in <em>{{minDeliveryTime}}' to {{maxDeliveryTime}}'</em>.</p>
                <p>Address: <em>{{address}}</em>.</p>
            </div>
            <div class="payment-form">
                <form action="/">
                    <label for="payment_method">Payment Method</label>
                    <select id="payment_method" name="method">
                        <option value="cash">Cash</option>
                        <option value="card">Card</option>
                    </select>
                </form>
            </div>
            <div class="tip-form">
                <legend>Tip</legend>
                <form action="/" method="POST">
                    <p>After the delivery, the entirety of your tip will go directly to them.</p>
                    <div class="radio-group">
                        <div class="radio-tip">
                            <label for="tipNone">€0</label>
                            <input type="radio" id="tipNone" name="tipAmount" value="0" checked>
                        </div>
                        <div class="radio-tip">
                            <label for="tipSmall">€0.50</label>
                            <input type="radio" id="tipSmall" name="tipAmount" value="0.5">
                        </div>
                        <div class="radio-tip">
                            <label for="tipMedium">€1</label>
                            <input type="radio" id="tipMedium" name="tipAmount" value="1">
                        </div>
                        <div class="radio-tip">
                            <label for="tipLarge">€2</label>
                            <input type="radio" id="tipLarge" name="tipAmount" value="2">
                        </div>
                    </div>
                </form>
            </div>
            <div class="promo">
                <label for="promo-code">Promo Code</label>
                <p>If you have a Foodies promo code, enter it below to claim your benefits.</p>
                <input type="text" id="promo-code" name="code" placeholder="Enter promo code...">
                <button type="submit">Submit</button>
            </div>
        </div>

        <!-- Cart items -->
        <div class="cart-items">
            <h2>Cart</h2>
            <div id="cartItemsContainer" class="cart-items-container"></div>
            <div class="order-summary">
                <p>Total: {{totalPrice}} €</p>
            </div>
            <div class="place-order">
                <button type="button" id="placeOrderBtn">Place Order</button>
            </div>
        </div>

    </div>
</section>


<!-- Modal -->
<div id="placeOrderModal" class="place-order-modal">
    <div class="place-order-content">
        <h2>Order Confirmation</h2>
        <p>Your order has been placed successfully!</p>
        <p>Order details will be sent to your email.</p>
        <button id="redirectToHomeBtn" class="home-button">Go to Home</button>
    </div>
</div>


<script> window.userAddress = "{{address}}"; </script>
<script> window.userEmail = "{{user.email}}"; </script>
<script> window.storeId = "{{storeId}}"; </script>
<script> window.deliveryFee = "{{deliveryFee}}"; </script>
<script src="/javascript/checkout.js"></script>
