<!-- views/search.hbs -->

<!-- Stores Section-->
<section id="stores">
    <h1>Search results</h1>
    {{#if message}}
    <div class="search-message">
        <p>{{message}}</p>
    </div>
    {{else}}
    <h2>We found {{numStores}} stores</h2>
    <!-- Render each store dynamically -->
    {{#each stores}}
    <div class="store">
        <div class="store-container">
            <div class="store-image">
                <!-- Store Image -->
                <img src="{{this.image}}" alt="{{this.name}}">
            </div>
            <div class="store-description">
                <!-- Store Name -->
                <div class="store-title">
                    <p>{{this.name}}</p>
                </div>
                <!-- Store Rating and Category -->
                <div class="store-rating">
                    <img src="{{this.ratingImage}}" alt="Rating">
                    <p>{{this.category}}</p>
                </div>
                <!-- Store Requirements: Delivery Time, Minimum Order, Delivery Fee -->
                <div class="store-requirements">
                    <p>{{this.estimated_delivery_time}} | Minimum {{this.min_order}}€ | Delivery {{this.delivery_fee}}€</p>
                </div>
                <!-- Store Description/Message -->
                <div class="store-message">
                    <p>{{this.description}}</p>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    {{/if}}
</section>
