<!-- views/store.hbs -->

{{#each renderCss}}
    <link rel="stylesheet" href="{{this}}">
{{/each}}

<section class="Store-Info">
    <div class="background-image" style="background-image: url('{{bannerImageUrl}}');"></div>
    <div class="left-group">
        <div class="store-info-container">
            <h1>{{storeName}}</h1>
            <div class="info-container">
                <div class="info-box">Delivery Fee: {{deliveryCost}}</div>
                <div class="info-box">Minimum order: {{minimumOrder}}</div>
                <div class="info-box">Delivered in {{deliveryTime}} minutes</div>
            </div>
            <span>
                <i class="fa-solid fa-clock"></i>
                <span>Open Until {{openUntil}}</span>
            </span>
        </div>
    </div>
    <div class="right-group">
        <div class="right-group-container">
            <div class="info-icon-container">
                <span>
                    <i class="fa-solid fa-circle-info"></i>
                    <span>More Informations</span>
                </span>
            </div>
            <div class="rating-container">
                <i class="fa-solid fa-star"></i>
                <span class="rating">{{Rating}}</span>
            </div>
            <div class="Liked-Store">
                <i class="fa-solid fa-heart fa-lg"></i>
            </div>
        </div>
    </div>
</section>

<section class="menu-nav">
    <!-- Sidebar -->
    <div class="sidebar" id="sidebar"> </div>
    <!-- Sidebar Icon -->
    <div class="sidebar-icon" id="sidebar-icon">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <!-- Navigation Menu -->
    <div class="menu-category-nav">
        <div class="icon"><i id="left" class="fas fa-angle-left"></i></div>
        <ul class="tabs-box">
            <li class="tab active"><a href="#category-1"></a></li>
            <li class="tab"><a href="#category-2"></a></li>
            <li class="tab"><a href="#category-3"></a></li>
            <li class="tab"><a href="#category-4"></a></li>
            <li class="tab"><a href="#category-5"></a></li>
            <li class="tab"><a href="#category-6"></a></li>
            <li class="tab"><a href="#category-7"></a></li>
            <li class="tab"><a href="#category-8"></a></li>
            <li class="tab"><a href="#category-9"></a></li>
            <li class="tab"><a href="#category-10"></a></li>
            <li class="tab"><a href="#category-11"></a></li>
            <li class="tab"><a href="#category-12"></a></li>
            <li class="tab"><a href="#category-13"></a></li>
            <li class="tab"><a href="#category-14"></a></li>
            <li class="tab"><a href="#category-15"></a></li>
            <li class="tab"><a href="#category-16"></a></li>
        </ul>
        <div class="icon"><i id="right" class="fas fa-angle-right"></i></div>
    </div>
    <div class="search-bar">
        <form action="javascript:void(0);" class="search" id="search-bar">
            <input type="search" placeholder="Search..." name="q" class="search__input">
            <div class="search__button" id="search-button">
                <i class="fas fa-search search__icon"></i>
                <i class="fas fa-times search__close"></i>
            </div>
        </form>
    </div>
</section>

<section>
    <div class="categories-container"></div>
</section>

<section>
    <div class="menu-item-modal">
        <span class="close-icon"><i class="fa-regular fa-circle-xmark"></i></span>
        <div class="modal-content">
            <img src="" alt="" id="product-image" class="modal-image">
            <div class="modal-header">
                <h1 id="product-name-header"></h1>
            </div>
            <div class="modal-info">
                <h1 id="product-name"></h1>
                <p id="product-description"></p>
                <p id="product-price"></p>
            </div>
            <div class="modal-main">
                <ul id="ingredients-list">
                    <!-- Ingredients will be dynamically added here -->
                </ul>
                <div class="comment-wrapper">
                    <textarea id="comment" placeholder="Write a comment..."></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <div class="quantity-wrapper">
                    <div class="quantity-controls">
                        <i class="fa-solid fa-minus fa-xl"></i>
                        <span id="quantity">1</span>
                        <i class="fa-solid fa-plus fa-xl"></i>
                    </div>
                </div>
                <div class="button-wrapper">
                    <button class="btn">
                        <i class="btn__icon btn__icon--cart fa-solid fa-cart-shopping"></i>
                        <i class="btn__icon btn__icon--box fa-solid fa-parachute-box"></i>
                        <span class="btn__text btn__text--first">Add to cart</span>
                        <span class="btn__text btn__text--second">Added</span>
                        <p id="total-price" style="margin-left: auto;"></p>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="Store-Location">
        <h1>Where to find us....</h1>
        <div id="store-map" class="map-container"></div>
        <footer class="Footer-Map">&copy;
            2024 Google Maps & Tom-Tom Maps on FOODIES - All Rights Reserved.
        </footer>
        <a href="#" target="_blank" class="button">
            View on Google Maps
        </a>
        <div class="Store-Info">

        </div>
    </div>
</section>

<script src="/javascript/scroll.js"></script>
<script type="module" src="/javascript/storePage/store.js"></script>
